In [1]:
import numpy as np
import pandas as pd

### preprocessing

In [2]:
user_spec = pd.read_csv('user_spec.csv')
loan_result = pd.read_csv('loan_result.csv')
log_data = pd.read_csv('log_data.csv')

In [3]:
user_spec = user_spec.astype({user_spec.columns[2]:'Int64', user_spec.columns[3]:'Int64', user_spec.columns[4]:'datetime64', 
                              user_spec.columns[5]:'Int64', user_spec.columns[6]:'Int64'})

In [4]:
def convert_time(x):
    if np.isnan(x):
        return x
    if np.log10(x)>7:
        x = x // 100
    x = pd.to_datetime(str(int(x)), format='%Y%m')
    return x

In [5]:
foo = user_spec["company_enter_month"]
print("done!")
foo = foo.map(convert_time)
print("done!")
user_spec["company_enter_month"] = foo

done!
done!

In [6]:
loan_result = loan_result.astype({"loanapply_insert_time":'datetime64'})

In [7]:
log_data = log_data.drop(labels = ["mp_os", "mp_app_version","date_cd"], axis = 1).astype({'timestamp':'datetime64'})

In [8]:
user_spec.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1394216 entries, 0 to 1394215
Data columns (total 17 columns):
 #   Column                               Non-Null Count    Dtype
---  ------                               --------------    -----
 0   application_id                       1394216 non-null  int64
 1   user_id                              1394216 non-null  int64
 2   birth_year                           1381255 non-null  Int64
 3   gender                               1381255 non-null  Int64
 4   insert_time                          1394216 non-null  datetime64[ns]
 5   credit_score                         1289101 non-null  Int64
 6   yearly_income                        1394126 non-null  Int64
 7   income_type                          1394131 non-null  object
 8   company_enter_month                  1222456 non-null  datetime64[ns]
 9   employment_type                      1394131 non-null  object
 10  houseown_type                        1394131 non-null  object
 11  desired_amount                       1394131 non-null  float64
 12  purpose                              1394131 non-null  object
 13  personal_rehabilitation_yn           806755 non-null   float64
 14  personal_rehabilitation_complete_yn  190862 non-null   float64
 15  existing_loan_cnt                    1195660 non-null  float64
 16  existing_loan_amt                    1080442 non-null  float64
dtypes: Int64(4), datetime64[ns](2), float64(5), int64(2), object(4)
memory usage: 186.1+ MB

In [9]:
loan_result.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13527363 entries, 0 to 13527362
Data columns (total 7 columns):
 #   Column                 Dtype
---  ------                 -----
 0   application_id         int64
 1   loanapply_insert_time  datetime64[ns]
 2   bank_id                int64
 3   product_id             int64
 4   loan_limit             float64
 5   loan_rate              float64
 6   is_applied             float64
dtypes: datetime64[ns](1), float64(3), int64(3)
memory usage: 722.4 MB

In [10]:
log_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17843993 entries, 0 to 17843992
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   user_id    int64
 1   event      object
 2   timestamp  datetime64[ns]
dtypes: datetime64[ns](1), int64(1), object(1)
memory usage: 408.4+ MB

In [ ]:
train_data = loan_result[]

### handling missing data